doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    header 
        h1=title
        nav 
            span
                a(href="/" style="margin-right:1em") Latests
                a(href="/diaries/write") Write
    body 
        block bodyBlock
